@model PaymentViewModel
@{
    ViewData["Title"] = "Payment Information";
}

<div class="container">
    <div class="row">
        <h1>@ViewData["Title"]</h1>
    </div>
</div>
<div class="container no-padding">
    <div class="row">
        <div class="col-md-3">
            @await Html.PartialAsync("_MemberAccountNavBar")
        </div>
        <div class="col-md-9">
            <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>

                <hr />
                <div class="form-group">
                    <label asp-for="SelectedPaymentMethod"></label>
                    <input asp-for="SelectedPaymentMethod" class="form-control" />
                    <span asp-validation-for="SelectedPaymentMethod" class="text-danger"></span>
                </div>

                <button type="submit" class="btn btn-info">Save Changes</button>
            </form>
        </div>
    </div>
</div>