<div class="well no-padding">
    <div>
        <ul class="nav nav-list nav-menu-list-style">
            <li>
                <label class="tree-toggle nav-header glyphicon-icon-rpad">
                    User Account 
                </label>
                <ul class="nav nav-list tree bullets">
                    <li><a asp-controller="Member" asp-action="Profile" id="profile-link">Personal Information</a></li>
                    <li><a asp-controller="Member" asp-action="Address" id="address-link">Address</a></li>
                    <li><a asp-controller="Member" asp-action="Preferences" id="preferences-link">Preferences</a></li>
                    <li><a asp-controller="Member" asp-action="FriendsFamily" id="friendsfamily-link">Friends and Family</a></li>
                    <li><a asp-controller="Member" asp-action="WishList" id="wishlist-link">Wish List</a></li>
                    <li><a asp-controller="Member" asp-action="MyGames" id="mygames-link">My Games</a></li>
                    <li><a asp-controller="Member" asp-action="MyEvents" id="myevents-link">My Events</a></li>
                    <li><a asp-controller="Member" asp-action="CreditCardsIndex" id="myCards">Payment Options</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>